{% extends "layout.html" %}
{% block content %}
<!-- Side navigation -->
<div id="margindown" class="container-fluid">
  <div class="row">
      {% include "sidenav.html" %}
    <!-- Page content -->
    <div class="offset-2 main col-10 col-md-8">
      <div class="item_name">
        <h4>{{item.name}}</h4>
      </div>
      <div class="item-content">

        <div class="description">
          {%if not item.description%}
          There is no description available. Click edit to add one.
          {%else%}
          {{item.description}}
          {%endif%}
        </div>
      </div>
      <div class='buttons'>
        <a class="button" href="{{url_for('editBook', category_id=category.id, item_id=item.id)}}">Edit</a>
        <a class="button" href="{{url_for('deleteBook', category_id=category.id, item_id=item.id)}}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
