@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  /* font-family: Secular One, sans-serif; */
  background-color: black;
  font-weight: 50 !important;
  overflow-x: hidden;
}


#margindown {
  margin-top: 61px !important;
}

.form-control-sm {
  color: white !important;
  background-color: #0c0c0c !important;
  border-radius: 30px !important;
}
.content-section {
  width: 300px;
  margin: auto;
}
a {
  text-decoration: none !important;
}

.form-group {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;


}

.header {
  border-bottom: 1px solid #f95c00;
  box-shadow: 2px 2px 10px black;
  background-color: #0c0c0c !important;
  color: #f95c00;
}

.navbar-brand {
  font-family: 'Lobster', cursive !important;
  font-size: 30px!important;
  color: #fff !important;
  padding: 0px !important;
}


.main{
  color: white;
}

.mainform {
  margin: auto;
  margin-top: 80px !important;
}

#newitem-main{padding-left: 15px;}

.title{
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-top: 0px;
  text-decoration: none;
}

#backbutton {
  border-bottom: 2px solid #2d2d2d;
}

.container {
  background-color: #0c0c0c;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

.sidenav {
  padding: 7px;
}

.sidenav a {
  padding: 6px 2px 6px 6px;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid transparent;
  display: block;

  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 5px;
  background: #0c0c0c
}
::-webkit-scrollbar-thumb {
  background: #2d2d2d ;
  border-radius: 29px;
}

.sidenav a:hover {
  color: #f95c00;
}

h4 {
  color: #f95c00;
  margin-bottom: 4px;
}

.row {
  padding-top: 10px;
  background-color: black;
}
#item-block{padding: 5px 0px;}

.buttons {
  margin-top: 20px;
  display:flex;
  flex-grow: 0px;
}

.button {
  border: 1px solid #f95c00;
  background-color: transparent;
  margin-right: 10px;
  min-width: 50px;
  border-radius: 30px;
  font-size: 13px;
  color: #f95c00;
  padding: 7px;
  text-align: center;
  transition: 0.3s;
}

.clickable {
  color: #f95c00;
  text-decoration: none;
}

.clickable:hover {
  font-weight: bold;
}

#login-button {
  color: white;
}


.form-group {margin-top: 10px;}


.button:hover {
   background-color: #f95c00;
   color: white;
}


.item_name {align-items: center;}

.items {
  max-height: 100%;
  font-size: 13px; /* Increased text to enable scrolling */
  color: white;
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: column wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: column wrap;
}
